<h1 xmlns="http://www.w3.org/1999/html">{{title}}</h1>

<div>
    <!--<button onclick="{{getLecturers}}">getLecturers</button>
    <button onclick="{{getStudents}}">getStudents</button>
    <button onclick="{{getThreads}}">getThreads</button>-->
    <a href="./getLecturers">Get all Lecturers</a></br>
    <a href="./getStudents">Get all Students</a></br>
    <a href="./getThreads">Get all Threads</a>

</div>